*~
*.bak
*.org
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
/node_modules
/styleguide


## themes
/**/images/*
/**/js/*
/style.css

!/assets/
!/assets/**


# original file

!gulpfile.js
!README.md
!package.json
!/aigis
